:root{
    --primary-color: #ee4d2d;
    --white-color:#fff;
    --black-color:#000;
    --text-color:#939393;
    --border-color: #dbdbdb;
    --hover-color: #fafafa;
    /* Common */
    --header-height: 120px;
    --navbar-height: 27px;
    --header-width-search-height: calc(var(--header-height) - var(--navbar-height));
}

*{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width{
    width: 100%;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
    /* flex-flow: row wrap; */
}

/* MODAL */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.modal__body {
    /* height: 200px;
    width: 200px; */
    margin: auto;
    z-index: 2;
}

/* Button Style */
.btn {
    height: 36px;
    min-width: 142px;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    padding: 0 12px;
    color: var(--black-color);
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.6rem;
}

.btn.btn--size-s {
    height: 32px;
    font-size: 12px;
    padding: 0 8px;
}

.btn.btn-normal:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn.btn--disabled {
    cursor: defaults;
}
/* Animation */
@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
