.header {
    background-image: linear-gradient(0,#f53e2d,#fe6433);
    height: var(--header-height);
}

.header__navbar-list li {
    list-style: none;
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    padding-left: 0;
    margin: 4px 0 0 0;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.5rem;
    font-weight: 300;
}

.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.header__navbar-item-has-qr:hover .header__qr {
    display: block;
}

.header__navbar-item-bold {
    font-weight: 552;    
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    height: 16px;
    width: 1px;
    top: 0;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
    border-left: 1px solid var(--white-color);
}

.header__navbar-icon-link {
    font-size: 1.8rem;
    display: inline-flex; 
    margin: 2px 4px;
    text-decoration: none;
    color: var(--white-color);
    z-index: 123;
}

.header__navbar-tittle--nopointer {
    color: #fff;
    cursor: default;
}

/* header QR Code */
.header__qr {
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 140%;
    border-radius: 2px;
    padding: 4px;
    display: none;
    animation: fadeIn ease-out .3s;
}

.header__qr::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: -8px;
    width: 100%;
    height: 20px;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-download-img {
    height: 16px;
}

.header__qr-link {
    margin: 0 10px;
    margin-top: 4px;
}

/* Header With Search */
.header-with-search {
    height: var(--header-width-search-height);
    display: flex;
    align-items: center;
}

.header__logo {
    width: 200px;
    /* flex: 2; */
}

.header__logo-img {
    width: 162px;
    height: 50px;
}

.header__search {
    flex: 13;
    height: 40px;
    background-color: var(--white-color);
    border-radius: 2px;
    display: flex;
    align-items: center;
}
/* History Section */
.header__search-input:focus ~ .header__search-history { 
    display: block;
}

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    width: 100%;
    position: relative;
}

.header__search-input{
    flex: 1;
    height: 100%;
    width: 100%;
    padding: 0 10px;
    font-size: 1.4rem;
    color: var(--black-color);
    border-radius: 2px;
    border: none;
    outline: none;
}

.header__search-history{
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px #999;
    overflow: hidden;
    display: none;
}

.header__search-history-heading {
    padding: 8px 0 0 12px;
    margin: 0;
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--text-color);
    user-select: none;
}

.header__search-history-list {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

.header__search-history-item {
    height: 38px;
    padding: 0 16px;
    font-size: 1.4rem;
    color: var(--black-color);
    width: 100%;
    cursor: pointer;
}

.header__search-history-item:hover {
    background-color: var(--hover-color);
}

.header__search-history-item a {
    text-decoration: none;
    line-height: 38px;
    color: var(--black-color);
}
/* Selection Section */
.header__search-selection{
    border-left: 1px solid var(--border-color);
    padding-left: 16px;
    position: relative;
}

.header__search-select-label {
    font-size: 1.4rem;
    color: var(--black-color);
    user-select: none;
    cursor: pointer;
}

.header__search-select-icon {
    margin: 0 8px;
    font-size: 1.4rem;
    color: #848484;
}

.header__search-selection:hover 
.header__search-option { 
    display: block;
}

.header__search-option {
    position: absolute;
    right: 0;
    top: 100%;
    width: 130px;
    list-style: none;
    margin-top: 16px;
    box-shadow: 0 2px 4px #ccc;
    padding-left: 0;
    border-radius: 2px;
    /* overflow: hidden; */
    display: none;
    animation: fadeIn ease-in .3s;
}

.header__search-option::after {
    content: '';
    display: block;
    position: absolute;
    height: 20px;
    background-color: transparent;
    width: 130px;
    top: -16px;
}
.header__search-option-item {
    background-color: var(--white-color);
    padding: 8px 8px;
    user-select: none;
    border-radius: 2px;
}

.header__search-option-item:hover {
    background-color: #e8e8e8;
    cursor: pointer;
}

.header__search-option-item span { 
    font-size: 1.4rem;
    color: var(--black-color);
    margin-left: 8px;
}

.header__search-option-item i {
    font-size: 1.2rem;
    color: var(--primary-color);
    display: none;
    margin-left: 12px;
}

.header__search-option-item--active i {
    display: inline-block;
}

.header__search-btn {
    background-color: var(--primary-color);
    color: var(--white-color);
    width: 60px;
    height: 34px;
    margin-right: 3px;
    border-radius: 2px;
    border: none;
    outline: none;
    cursor: pointer;
}

.header__search-btn:hover {
    opacity: .8;
}

.header__search-btn-icon {
    font-size: 1.6rem;
    color: var(--white-color);
}

/* CART SECTION */
.header__cart {
    width: 150px;
    text-align: center;
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 8px;
    cursor: pointer;
}

.header__cart-icon {
    font-size: 2.6rem;
    color: var(--white-color);
    margin-top: 4px;
}

.header__cart-notice {
    position: absolute;
    top: -4px;
    right: -4px;
    padding: 1px 6px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    border: 2px solid #ee5232;
    border-radius: 10px;
    color: var(--black-color);
    background-color: var(--white-color);
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-list {
    position: absolute;
    top: calc(100% + 8px);
    right: -1px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 0 3.125rem 0 rgb(0 0 0 / 20%);
    animation: fadeIn ease-in .2s;
    cursor: default;
    /* display: none; */
}

.header__cart-list::after {
    position: absolute;
    content: "";
    top: -26px;
    right: 2px;
    cursor: pointer;
    border-style: solid;
    border-width: 16px 20px;
    border-color: transparent transparent var(--white-color) transparent;
} 

.header__cart-list::before {
    position: absolute;
    display: block;
    content: "";
    top: -16px;
    right: 0px;
    width: 80px;
    height: 20px;
    background-color: transparent;
}

.header__cart-no-cart-img {
    width: 60%;
    display: none;
}

.header__cart-list--no-cart {
    padding: 28px 0;
}

.header__cart-list--no-cart .header__cart-status-msg,
.header__cart-list--no-cart .header__cart-no-cart-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header__cart-status-msg {
    font-size: 1.4rem;
    margin-top: 12px;
    color: var(--black-color);
    display: none;
}

.header__cart-heading {
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__cart-list-item {
    display: block;
    list-style: none;
    padding-left: 0;
}

.header__cart-item {
    display: flex;;
}

.header__cart-img {
    object-fit: contain;
    width: 40px;
    height: 40px;
}

.header__cart-item-info {

}

.header__cart-item-head {

}

.header__cart-item-name {

}

.header__cart-item-price {

}

.header__cart-item-multiply {

}

.header__cart-item-quantity {

}

.header__cart-item-body {

}

.header__cart-item-description {

}

.header__cart-item-remove {

}

/* Thông Báo Navbar */
.header__notify {
    position: absolute;;
    top: 100%;
    right: 0;
    width: 404px;
    background-color: var(--white-color);
    border: solid 1px #D3D3D3;
    margin-top: 8px;
    transform-origin: calc(100% - 20px) top;
    animation: headerNotify ease-in .2s;
    will-change: opacity, transform;
    display: none;
}

.header__notify::after {
    content: "";
    display: block;
    position: absolute;
    border-width: 20px 28px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    top: -28px;
    right: 8px;
}

.header__notify::before {
    content: "";
    display: block;
    position: absolute;
    top: -12px;
    right: 0;
    width: 100px;
    height: 12px;
}

.header__notify::before {
    content: "";
    display: block;
    position: absolute;
}

.header__navbar-item-has-notify:hover .header__notify {
    display: block;
} 

@keyframes headerNotify {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
.header__notify-footer,
.header__notify-header {
    height: 40px;
    color: var(--black-color);
    background-color: var(--white-color);
}
.header__notify-footer a,
.header__notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    cursor: default;
}

.header__notify-list {
    padding-left: 0;
}

.header__notify-item {
    display: flex;
}
.header__notify-footer:hover,
.header__notify-item:hover {
    background-color: #e6e6e6;
}
.header__notify-link {
    display: flex;
    text-decoration: none;
    padding: 12px;
    width: 100%;
    background-color: rgba(238, 77, 45, 0.1);
}

.header__notify-img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--black-color);
}

.header__notify-description {
    display: block;
    font-size: 1.2rem;
    color: #756f6e;
    line-height: 2rem;
}

.header__notify-footer {
    text-align: center; 
    cursor: pointer;
}

.header__notify-footer a {
    margin: 0;
    width: 100%;
    text-decoration: none;
    cursor: pointer;
    color: var(--black-color);
}

/* Auth Modal */
.auth-form {
    width: 500px;
    background-color: var(--white-color);
    border-radius: 4px;
    overflow: hidden;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 24px 12px;
}

.auth-form__heading {
    font-size: 1.6rem;
    font-weight: 400;;
    color: var(--black-color);
}

.auth-form__switch {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    margin-bottom: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    outline: none;
}

.auth-form__input:focus {
    border-color: #777;
}

.auth-form__aside {
    margin-top: 12px;
    line-height: 1.8rem;
    text-align: center;
    font-size: 1.2rem;
    padding: 0 12px;
}

.auth-form__aside-help {
    font-size: 1.4rem;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.auth-form__aside-help-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
}

.auth-form__aside-help-link-forgot {
    color: var(--primary-color);
}

.auth-form__aside-help-separate {
    display: inline-block;
    height: 28px;
    margin: 0 16px;
    transform: translateY(-8px);
    border-left: 1px solid var(--border-color);
}

.auth-form__text-link {
    color: var(--primary-color);
    text-decoration: none;
}

.auth-form__controls {
    display: flex;
    justify-content: flex-end;
    margin-top: 80px;
}

.auth-form__controls-back {
    margin-right: 8px;
}

.auth-form__socials {
    background-color: #F5F5F5;
    font-size: 1.8rem;
    padding: 12px 32px;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.auth-form__socials-icon {
    font-size: 1.8rem;
}

.auth-form__socials-facebook {
    background-color: #3b5998;
    color: var(--white-color);
}

.auth-form__socials-google {
    background-color: var(--white-color);
    color: #666;
}

.auth-form__socials-tittle {
    margin: 0 36px;
}

